<ion-view>
    <ion-header-bar align-title="center" class="bar-positive">
    <button class="button button-icon icon ion-arrow-left-c" ui-sref="app.cart"></button>
        <h1 class="title">DINING DETAIL</h1>
    </ion-header-bar>

    <ion-content class="dining-content">
      <div class="content-main">
        <div class="content-main-title">
          <p class="title">
            <img class="logo" src="img/restaurant_square.png" alt="detail" />
          </p>
        </div>
        <div class="list">
          <div class="item item-text-wrap guests-number">
            <div class="number-title">Number of Guests:</div>
            <div class="row">
              <label class="item-input adults-number col col-40 col-offset-5">
                <input type="number" placeholder="Adults">
              </label>
              <label class="item-input children-number col col-40 col-offset-10">
                <input type="number" placeholder="Children">
              </label>
            </div>
          </div>
          <div class="item tem-text-wrap dining-date">
            <div class="date-title">Date:</div>
            <div class="row">
              <label class="item-input date-input col col-90 col-offset-5">
                <input type="date">
              </label>
            </div>
          </div>
          <div class="item tem-text-wrap dining-time">
            <div class="time-title">Time:</div>
            <div class="row">
              <label class="item-input time-input col col-90 col-offset-5">
                <input type="time">
              </label>
            </div>
          </div>
        </div>
        <div class="padding">
          <div class="button button-block button-positive" ng-click="">Next</div>
        </div>
      </div>
    </ion-content>

</ion-view>