<ion-view>
    <ion-header-bar align-title="center" class="bar-positive">
    <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
        <h1 class="title">Home</h1>
    </ion-header-bar>
	<ion-content class="home-content" scroll="false">
		<div class="content-main">
			<div class="content-main-title">
				<p class="title">
		        	<img class="logo" src="img/EatLah_logo_square.png" alt="EatLah" />
		        </p>
			</div>	
		</div>
		<div class="button-group">
			<a class="button button-outline icon-right ion-search button-positive" ui-sref="app.restaurant">BROWSE RESTAURANT</a>
		</div>
	</ion-content>
</ion-view>