<ion-view>
    <ion-header-bar align-title="center" class="bar-positive">
    <button class="button button-icon icon ion-arrow-left-c" ui-sref="app.dining"></button>
        <h1 class="title">YOUR INFO</h1>
    </ion-header-bar>

    <ion-content class="info-content">
      <div class="content-main">
        <div class="content-main-title">
          <div class="title">
            WE HAVE A TABLE FOR YOU!
          </div>
          <div class="text">
            Special requests are not guaranteed and are subject to availability and restaurant discretion.
          </div>
        </div>
        <div class="list">
          <div class="item tem-text-wrap info-prefix">
            <div class="prefix-title">Prefix:</div>
            <div class="row">
              <label class="item-input prefix-input col col-90 col-offset-5">
                <input type="text">
              </label>
            </div>
          </div>
          <div class="item item-text-wrap info-name">
            <div class="name-title">Name:</div>
            <div class="row">
              <label class="item-input first-name col col-40 col-offset-5">
                <input type="text" placeholder="First Name">
              </label>
              <label class="item-input last-name col col-40 col-offset-10">
                <input type="text" placeholder="Last Name">
              </label>
            </div>
          </div>
          <div class="item tem-text-wrap info-mobile">
            <div class="mobile-title">Mobile Number:</div>
            <div class="row">
              <label class="item-input mobile-input col col-90 col-offset-5">
                <input type="tel">
              </label>
            </div>
          </div>
          <div class="item tem-text-wrap info-email">
            <div class="email-title">E-mail:</div>
            <div class="row">
              <label class="item-input email-input col col-90 col-offset-5">
                <input type="email">
              </label>
            </div>
          </div>
          <div class="item tem-text-wrap info-req">
            <div class="req-title">Special Requests:</div>
            <div class="row">
              <label class="item-input req-input col col-90 col-offset-5">
                <input type="text">
              </label>
            </div>
          </div>
        </div>
        <div class="padding">
          <div class="button button-block button-balanced" ng-click="confirmReservation()">Confirm Reservation</div>
        </div>
      </div>
    </ion-content>

</ion-view>