<ion-view>
  <ion-header-bar align-title="center" class="bar-positive">
    <button class="button button-icon icon ion-arrow-left-c" ui-sref="app.detail"></button>
    <h1 class="title">MENU</h1>
    <button class="button button-icon icon ion-bag" ui-sref="app.cart"></button>
  </ion-header-bar>

  <ion-content class="menu-content">
    <ion-list class="menu-list">
      <ion-item class="menu-category item-icon-left item-icon-right" ng-repeat="menuCategory in menuCategories" ng-click="goToMenuCategoryItemPage($index)">
        <i class="icon ion-pizza"></i>
        <div class="item-text package-item">{{menuCategory.categoryName}}</div>
        <i class="icon ion-chevron-right"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
