<ion-view class="register-page">
	<ion-content class="padding register-content">
		<div class="content-main">
			<div class="content-main-title">
        <div class="title">Register</div>
			</div>	
		</div>
    <form name="registerForm">
  		<ion-list class="list-inset">
          <div class="item item item-icon-left">
            <i class="icon ion-person"></i>
            <input type="text" placeholder="Prefix" ng-model="credential.prefix" required>
          </div>
          <div class="item item item-icon-left">
            <i class="icon ion-person"></i>
            <input type="text" placeholder="Name" ng-model="credential.userName" required>
          </div>
      		<div class="item item item-icon-left">
      			<i class="icon ion-iphone"></i>
      			<input type="tel" placeholder="Mobile Number" ng-model="credential.contactNumber" required>
    			</div>
    			<div class="item item item-icon-left">
    				<i class="icon ion-locked"></i>
      			<input type="password" placeholder="Password" ng-model="credential.userPassword" name="userPassword" required>
    			</div>
          <div class="item item item-icon-left">
            <i class="icon ion-locked"></i>
            <input type="password" placeholder="Confirm Password" ng-model="credential.userRepassword" name="userRepassword" data-match="credential.userPassword" required>
          </div>
          <div class="positive" ng-show="!isPasswordMatch">Password not match!</div>
  		</ion-list>
      <div class="button-full-group padding">
        <button class="button button-block button-calm" ng-disabled="registerForm.$invalid || registerForm.userRepassword.$error.match" ng-click="goToCreditPage(registerForm)">Next</button>
      </div>
    </form>
    <div class="have-account">
      <div class="have-account-text">Already have an account? <a ui-sref="app.login">Login</a></div>
    </div>
	</ion-content>
</ion-view>