<ion-view>
    <ion-header-bar align-title="center" class="bar-positive">
    <button class="button button-icon icon ion-arrow-left-c" ui-sref="app.home"></button>
        <h1 class="title">BROWSE RESTAURANT</h1>
    </ion-header-bar>

    <ion-content class="restaurant-content">
      <ion-refresher pulling-text="Pull to refresh" on-refresh="getRestaurantList()"></ion-refresher>
      <ion-list class="favorite-restaurant-list">
        <ion-item class="item-divider item-icon">
          <i class="icon ion-star"></i> Favorite Restaurant
        </ion-item>
        <div class="item item-thumbnail-left" ng-repeat="restaurant in favoriteRestaurantList">
          <img class="item-thumbnail" src="img/restaurant_square.png">
          <h2 class="item-title">{{restaurant.restaurantName}}</h2>
          <p class="item-text">{{restaurant.restaurantType}}</p>
          <a class="button button-positive" ng-click="goToFavoriteRestaurantDetailPage({{restaurant.ID}})">View More</a>
        </div>
      </ion-list>
      <br>
      <ion-list class="all-restaurant-list">
        <ion-item class="item-divider item-icon">
          <i class="icon ion-location"></i> All Restaurant
        </ion-item>
        <div class="item item-thumbnail-left" ng-repeat="restaurant in allRestaurantList">
          <img class="item-thumbnail" src="img/restaurant_square.png">
          <h2 class="item-title">{{restaurant.restaurantName}}</h2>
          <p class="item-text">{{restaurant.restaurantType}}</p>
          <a class="button button-positive" ng-click="goToAllRestaurantDetailPage({{restaurant.ID}})">View More</a>
        </div>
      </ion-list>
    </ion-content>

</ion-view>