.home-content {
	width: 100%;
	text-align: center;
	.content-main {
		.content-main-title {
		    .title {
		    	.logo {
			    	width: 100%;
			    	height: 100%;
			    }
		    }
  		}
	}
	.button-group {
		margin-top: 20%;
	}
}