.register-page {
	background: url("../img/EATLah_consumer_BG.jpg") no-repeat center center fixed;
	background-size: cover;

	.register-content {
		width: 100%;
		text-align: center;
		.content-main {
			.content-main-title {
			    .title {
				    font-size: 25px;
				    color: white;
				    margin-top: 10%;
				    margin-bottom: 10%;
			    }
	  		}
		}

		.button-full-group {
			.button {
				margin-top: 10%;
			}
		}

		.have-account {
			.have-account-text {
				color: white;
			}
		}
	}
}